<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-item">INSURED.CH</a>
  </div>
  <div class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" (click)="toggleMenu()" tabindex="0" (keyup.enter)="toggleMenu()">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </div>
  <div class="navbar-menu" [class.is-active]="menuActive">
    <div class="navbar-center">
      <a routerLink="/" class="navbar-item">Home</a>
      <a routerLink="/versicherungsrechner" class="navbar-item">Versicherungsrechner</a>
      <a routerLink="/impressum" class="navbar-item">Impressum</a>
      <a routerLink="/datenschutz" class="navbar-item">Datenschutz</a>
    </div>
    <div class="navbar-end">
      <a routerLink="/anmelden" class="navbar-item button-outline">Anmelden</a>
      <a routerLink="/registrieren" class="navbar-item button-outline">Registrieren</a>
    </div>
  </div>
</nav>
