<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-item">INSURED.CH</a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a routerLink="/" class="navbar-item">Home</a>
      <a routerLink="/calculate" class="navbar-item">Versicherungsrechner</a>
      <a routerLink="/impressum" class="navbar-item">Impressum</a>
      <a routerLink="/datenschutz" class="navbar-item">Datenschutz</a>
      <a routerLink="/login" class="navbar-item">Anmelden</a>
      <a routerLink="/sign-in" class="navbar-item">Registrieren</a>
    </div>
  </div>
</nav>
