<div class="landing-page">
  <div 
    class="card" 
    (click)="navigateToCalculate()" 
    (keyup.enter)="navigateToCalculate()" 
    (keydown.enter)="navigateToCalculate()" 
    tabindex="0" 
    role="button" 
    aria-label="Calculate Car Insurance"
    aria-pressed="false"
  >
    <img src="assets/2022-Jaguar-XE.jpg" alt="Jaguar XE car" />
    <div class="card-text">
      <p>Autoversicherung berechnen</p>
      <p>Fortfahren &#8594;</p>
    </div>
  </div>
  <div class="text-content">
    <h1>Versicherungen leicht gemacht!</h1>
    <p>Berechne innerhalb von Sekunden die Versicherungsprämie von deinem Wunschauto.</p>
  </div>
</div>
