<div class="insurance-type-container">
  <h3>Wählen Sie die Versicherungsart</h3>
  <div class="cards">
    <div 
      class="card" 
      *ngFor="let type of insuranceTypes" 
      (click)="selectType(type)" 
      (keyup.enter)="selectType(type)" 
      (keydown.enter)="selectType(type)" 
      tabindex="0" 
      role="button" 
      [attr.aria-label]="'Select ' + type.name + ' insurance type'"
    >
      <img [src]="getImageForType(type.value)" [alt]="type.name">
      <h4>{{ type.name }}</h4>
      <p>{{ type.description }}</p>
      <p>Kosten: {{ type.cost | currency:'CHF' }}</p>
    </div>
  </div>
  <button (click)="goBack()" aria-label="Go back to the previous page">Zurück</button>
</div>
