<div class="content">
    <h2>Datenschutzerklärung</h2>
    <p><strong>Datenschutz</strong></p>
    <p>Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.</p>
    
    <p><strong>Verantwortliche Stelle</strong><br>
    Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
    <p>Nils Zimmermann<br>
    Bismarckstrasse 19<br>
    10625, Berlin, Deutschland</p>
    Telefon: +49 (0) 123 456 789<br>
    E-Mail: <a href="mailto:max@mustermann.de">nils&#64;zimmermann.de</a>
  
    <p><strong>Erhebung und Verarbeitung personenbezogener Daten</strong></p>
    <p>Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. Ihre personenbezogenen Daten werden nur erhoben und verarbeitet, wenn Sie uns diese im Rahmen einer Kontaktaufnahme freiwillig mitteilen. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.</p>
  
    <p><strong>Rechte der betroffenen Person</strong></p>
    <p>Sie haben das Recht, jederzeit Auskunft über Ihre bei uns gespeicherten personenbezogenen Daten zu erhalten. Darüber hinaus haben Sie das Recht auf Berichtigung, Sperrung oder Löschung dieser Daten.</p>
  
    <p><strong>Änderungen dieser Datenschutzerklärung</strong></p>
    <p>Wir behalten uns vor, diese Datenschutzerklärung gelegentlich anzupassen, damit sie stets den aktuellen rechtlichen Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.</p>
  
    <p>Stand: Juni 2024</p>
  </div>
  